<ng-container *ngIf="result && result.cancelReason">
  <p [innerHTML]="result.cancelReason"></p>
</ng-container>

<ng-container *ngIf="result == null">
  <p [translate]="'DocumentSignActions.NoRejectionReasonFound'"></p>
</ng-container>
