<div class="row">
  <div class="col-sm-12 pt-2 pb-2">
    <a class="text-secondary pl-0 font-lg" [routerLink]="['/courses/recent']">
      <i class="fa fa-chevron-left pr-1"></i><span [translate]="'CoursesLocal.BackButton'"></span>
    </a>
  </div>
</div>

<ng-container *ngIf="selectedCourseClass">
  <div class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h2 class="text-dark d-inline mr-2">{{selectedCourseClass?.course?.displayCode}} - {{selectedCourseClass | localize:['title']}}</h2>
      <span class="text-muted">{{selectedCourseClass?.year?.alternateName}} {{selectedCourseClass?.period?.alternateName | translate}}</span>
    </div>
    <div class="col-auto d-none d-md-block">
      <select class="form-control" [compareWith]="compareCourseClass" [(ngModel)]="selectedCourseClass" (ngModelChange)="selectChangeHandler($event)">
        <option *ngFor = "let courseClass of courseClassList" [ngValue]="courseClass" >{{courseClass?.period?.alternateName | translate}} {{courseClass?.year?.alternateName}}</option>
      </select>
    </div>
  </div>

  <div class="clear-content-area mb-3">
    <div class =" d-none d-md-block">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['details']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.General'"> </a>
        </li>
        <ng-container *ngIf="supportQA">
          <li class="nav-item" *if-location="'/services/courses/outlines'">
            <a class="nav-link" [routerLink]="['outline']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.CourseOutline'"> </a>
          </li>
        </ng-container>
        <ng-container *ngIf="supportQA">
          <li class="nav-item" *if-location="'/services/courses/evaluations'">
            <a class="nav-link" [routerLink]="['evaluation']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Evaluation'"> </a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['students']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Students'"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['exams']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Grades'"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['teachingEvents']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Events'"></a>
        </li>
        <li class="nav-item" *ngIf="oneRosterEnabled">
          <a class="nav-link" [routerLink]="['eLearning']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.ElearningCourses'"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="clear-content-area mb-3">
    <ul class="nav s--nav-tabs d-md-none bg-white d-flex justify-content-around s--nav-tabs">
      <li class="nav-item font-sm w-25">
        <a class="nav-link text-dark" [routerLink]="['details']" [routerLinkActive]="'active'"  [translate]="'CoursesLocal.General'"> </a>
      </li>
      <ng-container *ngIf="supportQA">
        <li class="nav-item font-sm w-33" *if-location="'/services/courses/outlines'">
          <a class="nav-link text-dark" [routerLink]="['outline']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.CourseOutline'"> </a>
        </li>
      </ng-container>
      <ng-container *ngIf="supportQA">
        <li class="nav-item font-sm w-33" *if-location="'/services/courses/evaluations'">
          <a class="nav-link text-dark" [routerLink]="['evaluation']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Evaluation'"> </a>
        </li>
      </ng-container>
      <li class="nav-item font-sm w-33">
        <a class="nav-link text-dark" [routerLink]="['students']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Students'"></a>
      </li>
      <li class="nav-item font-sm w-25">
        <a class="nav-link text-dark"  [routerLink]="['exams']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Grades'"></a>
      </li>
      <li class="nav-item font-sm w-25">
        <a class="nav-link text-dark"  [routerLink]="['teachingEvents']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Events'"></a>
      </li>
      <li class="nav-item font-sm w-25" *ngIf="oneRosterEnabled">
        <a class="nav-link text-dark"  [routerLink]="['eLearning']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.ElearningCourses'"></a>
      </li>
    </ul>
  </div>
  <div>
    <router-outlet ></router-outlet>
  </div>
</ng-container>
<ng-container *ngIf="!loading && !selectedCourseClass">
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text"  [translate]="'NotAvailableFeature.ClassNotAvailable'"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <router-outlet ></router-outlet>
    </div>
  </div>
</ng-container>
