<div class="card">
  <div class="card-header" *ngIf="showButtons">
    <h4 class="mb-0 font-weight-normal" [translate]="'Messages.NewMessage'"></h4>
  </div>
  <div class="card-body pt-0 mb-0">
    <form #formMessage="ngForm" novalidate class="formio-form">
      <div ref="component" class="form-group has-feedback formio-component formio-component-textfield">
        <label class="col-form-label" [translate]="'Messages.ComposeNewMessage.Subject'"></label>
        <div>
          <input [(ngModel)]="model.subject" (ngModelChange)="this.modelChange.emit(this.model)" id="subject" spellcheck="true" autocomplete="off" class="form-control"
            type="text" name="message-subject" />
        </div>
      </div>
      <div class="form-group has-feedback formio-component formio-component-textarea">
        <label for="body" class="col-form-label" [translate]="'Messages.ComposeNewMessage.WriteMessage'"></label>
        <div>
          <div #messageBody>
          <input type="text" class="d-none" [(ngModel)]="model.body" id="body" name="message-body"></div>
        </div>
      </div>
      <div *ngIf="showAttach"
        class="form-group has-feedback formio-component formio-component-file formio-component-attachments formio-component-label-hidden">
        <ngx-dropzone [multiple]="false" [accept]="'image/jpeg,image/jpg,application/pdf,image/png,image/gif'"
          (change)="onFileAdd($event)">
          <ngx-dropzone-label *ngIf="!model?.attachments?.length" style="z-index: 0" class="p-2">
            {{'Messages.UploadFileHelp' | translate}}
          </ngx-dropzone-label>
          <ng-container *ngFor="let f of model.attachments">
            <ngx-dropzone-preview [removable]="true" (removed)="onFileRemove(f)">
              <ngx-dropzone-label>
                {{ f.name }} ({{ f.type }})
              </ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ng-container>
        </ngx-dropzone>
      </div>
      <ng-container *ngIf="showButtons">
        <div class="form-group formio-component formio-component-button d-inline-block text-lowercase form-group">
          <button [disabled]="formMessage.invalid" class="btn btn-primary btn-md d-inline-block text-lowercase"
            type="button" [translate]="'Messages.ComposeNewMessage.Send'" (click)="submit.emit(model)">
          </button>
        </div>
        <div
          class="ml-2 form-group has-feedback formio-component formio-component-button d-inline-block text-lowercase form-group">
          <button class="btn btn-secondary btn-md d-inline-block text-lowercase" type="button"
            (click)="cancel.emit(model)" [translate]="'Messages.Cancel'">
          </button>
        </div>
      </ng-container>
    </form>
  </div>
</div>
<!--end: new message-->
