<div class="row" *ngIf="isLoading">
  <div class="col-md-11">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ph-col-2 ml-3 big"></div>
        <div class="ph-col-2 ml-3 big"></div>
      </div>
    </div>
  </div>
</div>
<div class="main inner__content px-md-5 px-2" id="inner__content">
  <div *ngIf="thesis" class="theses">
    <div>
      <div>
        <div>
          <div class="row mb-4">
            <div class="col col-lg-8 col-md-10">
              <div>
                <h4>{{ thesis.thesis | localize:['name'] }} - {{ thesis?.thesis.status | localize:['name'] }}</h4>
              </div>
            </div>
            <!-- visible only on screen wider than md -->
            <div class="col col-lg-4 col-md-4 d-none d-md-block">
              <span class="text-secondary align-middle mr-3 grade-title float-right">{{ 'iTheses.GradeTitle' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;<span
                  [ngClass]="(thesis.studentResults.isPassed)?'passed-grade':'failed-grade'">{{ thesis.studentResults?.formattedGrade || '-'}}</span></span>
            </div>
            <!-- visible only on screen more tight than lg-->
            <div class="col d-lg-none">
              <span class="text-secondary align-middle mr-3 float-right"><span
                  [ngClass]="(thesis.isPassed)?'passed-grade':'failed-grade'">{{ thesis.studentResults.formattedGrade || '-'}}</span></span>
            </div>
          </div>
          <div class="mb-2">
            <span title="{{ 'iTheses.StudentName' | translate }}" class="text-secondary mr-3 font-lg">
              <i class="fa fa-user pr-1"></i>({{thesis.student.studentIdentifier}})&nbsp;{{ thesis.student.familyName }}
              {{ thesis.student.givenName }}</span>
            <span title="{{ 'iTheses.StudentStatus' | translate }}" class="text-secondary font-lg">
              <i class="fa fa-id-card pr-1"></i>
                <span [translate]="'iTheses.StudentStatus'">
                </span>: <span [translate]="'StudentStatuses.'+ thesis.student.studentStatus?.alternateName"></span>
              </span>
          </div>
          <div class="mb-2" *ngIf="!thesis?.student">
            <span title="{{ 'iTheses.ThesisProposals.NotAssigned' | translate }}" class="text-secondary mr-3 font-lg">{{ 'iTheses.ThesisProposals.NotAssigned' | translate }}</span>
          </div>
          <div class="mb-2 pt-2" *ngIf="thesis?.student">
            <span>
              <span class="text-secondary mr-3 font-lg"><i class="fa fa-university pr-1"></i>{{
                thesis?.thesis.department| localize:['name'] }}</span>
              <span title="{{ 'iTheses.ThesisType.type' | translate }}" class="text-secondary mr-3 font-lg"><i
                  class="fa fa-flag pr-1"></i>{{ thesis?.thesis.type | localize:['name'] }}</span>
              <span *ngIf="thesis.thesis.startDate" title="{{ 'iTheses.StartDate' | translate }}"
                class="text-secondary mr-3 font-lg"><i class="fa fa-calendar pr-1"></i>{{thesis.thesis?.startDate | localizedDate: 'shortDate'}}</span>
              <span *ngIf="thesis.thesis.endDate" title="{{ 'iTheses.EndDate' | translate }}"
                class="text-secondary mr-3 font-lg"><i class="fa fa-calendar pr-1"></i>{{thesis.thesis?.endDate | localizedDate: 'shortDate' }}</span>
              <br>
              <br>
              <div class="row mt-2 mb-4">
                <div class="col-12">
                  <ul class="sis--list-group sis--list-group-body">
                    <li class="sis--list-group-item" *ngFor="let res of thesis.studentResults?.results">
                      <div class="d-flex justify-content-center align-items-center list-color">
                        <div class="sis--list-group-item_lg_column"
                          [ngClass]="(thesis?.thesis?.instructor?.id == res.instructor?.id) ? 'text-primary' : 'text-secondary'">
                          {{res.instructor | localize:['familyName']}} {{res.instructor | localize:['givenName']}}</div>
                        <div class="sis--list-group-item_lg_column text-secondary">
                          <span *ngIf="res.instructor.roleName">{{'iTheses.RoleNames.' + res.instructor.roleName | translate}}</span>
                          <span *ngIf="!res.instructor.roleName">-</span>
                        </div>
                        <div class="sis--list-group-item_lg_column grade-small" class="grade-small" [ngClass]="(res.isPassed) ? 'passed-grade':'failed-grade'">
                          <span *ngIf="res.formattedGrade">{{ res.formattedGrade }}</span>
                          <span *ngIf="!res.formattedGrade">-</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>