<div class="s--btn-group-toggle py-3">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">

    <label *ngFor="let option of options" (click)="select(option)" class="btn btn-toggle"
      [ngClass]="{'active': option == selected}">

      <!-- <input type="radio" name="options" autocomplete="off"> -->

      <ng-container *ngIf="option.icon">
        <i class="{{option.icon}} d-inline d-md-none d-lg-inline"></i>
      </ng-container>
      <ng-container *ngIf="option.label">
        <span [translate]="option.label" class="d-none d-md-inline"></span>
      </ng-container>
    </label>

  </div>
</div>