<div class="row mt-2">
  <div class="col-12">
    <p class="text-subtitle" [translate]="'CoursesLocal.Modal.Step3.Details'"></p>
    <div class="row">
      <div *ngIf="useDigitalSignature" class="col-md-4 col-xs-12 font-weight-bold"
           [translate]="'CoursesLocal.Modal.Step3.DigitalSignature'"></div>
      <div *ngIf="!useDigitalSignature" class="col-md-4 col-xs-12 font-weight-bold"
           [translate]="'CoursesLocal.Grading'"></div>
      <div class="col-md-8 col-xs-12">
        <div *ngIf="resultsOfSubmission?.object?.validationResult?.success && !isLoading">
          <span [translate]="'CoursesLocal.Modal.Step3.SuccessfullyCompleted'"></span>
          <i class="fa fa-check pl-2 success-color fs20"></i>
        </div>
        <div *ngIf="!resultsOfSubmission?.object?.validationResult?.success && !isLoading">
          <span class="unsuccess-color" [translate]="'CoursesLocal.Modal.Step3.NotCompleted'"></span>
          <i class="fa fa-times pl-2 unsuccess-color fs20"></i>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.FinalSubmission'"></div>
      <div class="col-md-8 col-xs-12">
        <div *ngIf="message && !isLoading">
          <span>{{message}}</span>
          <i *ngIf="!!!errorMessage" class="fa fa-check pl-2 success-color fs20"></i>
        </div>
        <div *ngIf="errorMessage && !isLoading">
          <span class="unsuccess-color">{{errorMessage}}</span>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step2.GradesUpdates'"></div>
      <div class="col-md-8 col-xs-12">
        <div *ngIf="counters?.success > 0">
          <span class="text-success">{{ counters?.success | i18nPlural: gradesUpdateMapping | translate :{count: counters?.success} }}
          </span>
        </div>
        <div *ngIf="counters?.success == 0 && !isLoading">
          <span [translate]="'CoursesLocal.Modal.Step3.EmptyGradesToUpdated'"></span><br>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div *ngIf="counters?.unSuccess > 0">
        <span class="unsuccess-color">{{ counters?.unSuccess | i18nPlural: gradesNotUpdateMapping | translate :{count: counters?.unSuccess} }}
        </span>
          <ul class="pl-0 list-unsuccess-grades">
            <li *ngFor="let grade of resultsOfUpload?.object?.grades" class="list-unstyled mb-1">
              <span *ngIf="grade.validationResult.code === 'EAVAIL' || grade.validationResult.code === 'EFAIL' ||
              grade.validationResult.code === 'ERANGE' || grade.validationResult.code === 'ESTATUS'">
                {{grade.studentIdentifier}} {{grade.familyName}} {{grade.givenName}}
                : {{grade.validationResult.message}}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <p class="text-subtitle" [translate]="'CoursesLocal.Modal.Step3.Proof'"></p>
    <div class="row">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.UploadNumber'">
      </div>
      <div class="col-md-8 col-xs-12">
        <span>{{resultsOfSubmission?.additionalResult?.id}}</span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.CheckHashKey'">
      </div>
      <div class="col-md-8 col-xs-12">
        <span class="font-weight-bold">{{resultsOfSubmission?.additionalResult?.checkHashKey}}</span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.DateSubmission'">
      </div>
      <div class="col-md-8 col-xs-12">
        <span>{{ resultsOfSubmission?.dateModified | localizedDate:'short' }}</span>
      </div>
    </div>
    <!--    TODO: Implement print proof of submission. Possibly use the following markup and bind the click event to print the proof-->
    <!--    <div class="row mt-2">-->
    <!--      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step3.PrintProof'"></div>-->
    <!--      <div class="col-md-8 col-xs-12">-->
    <!--        <span *ngIf="resultsOfSubmission?.object?.validationResult?.success"><span [translate]="'CoursesLocal.Modal.Step3.PrintProofDescription'"></span></span>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
