<div class="">

  <div class="search-filters" *ngIf="!filters || filters.length > 0">
    <form class="form-inline p-2 col">

      <div class="form-group col-12 col-md-6 col-lg-auto py-1" *ngIf="sortingModes || sortingModes.length">
        <label class="pr-2" for="sortingMode" translate="GenericList.SortingMode"></label>
        <select class="form-control" id="sortingMode" name="sortingMode" [(ngModel)]="sortingMode"
          (ngModelChange)="search()">
          <option *ngFor="let mode of sortingModes" [ngValue]="mode" [translate]="mode[0]"></option>
        </select>
      </div>

      <div class="form-group col-12 col-md-6 py-1">
        <label class="pr-2" translate="GenericList.Search"></label>
        <input spellcheck="false" (keyup)="search()" type="text" id="searchText" [(ngModel)]="searchText"
          name="searchText" class="form-control col text-left">
      </div>

    </form>
  </div>

  <div class="flex-between-center">
    <div>
      <app-generic-switch [options]="viewOptions" *ngIf="table || list[0]?.tableConfig" [(selected)]="viewOption"
        (selectedChange)="onViewOptionChange($event)"></app-generic-switch>
    </div>
    <div *ngIf="!table">
      <snap class="counter">
        <ng-container *ngIf="!searchText">
          <span>{{ filteredList.length }}</span>
          <span class="name" translate="GenericList.Items"></span>
        </ng-container>
        <ng-container *ngIf="searchText">
          <span>{{ filteredList.length }}</span> /<span>{{ list.length }}</span>
          <span class="name" translate="GenericList.Items"></span>
        </ng-container>
      </snap>
      <span *ngIf="buttons && buttons.length == 1" class="ml-2">
        <a class="btn btn-universis px-3 my-2" [href]="'#' + buttons[0][1]">
          <ng-container *ngIf="buttons[0][2]">
            <i class="{{ buttons[0][2] }} d-inline d-md-none d-lg-inline"></i>
            <span [translate]="buttons[0][0]" class="d-none d-md-inline"></span>
          </ng-container>
          <ng-container *ngIf="!buttons[0][2]">
            <span [translate]="buttons[0][0]" class="d-inline"></span>
          </ng-container>
        </a>
      </span>
      <span *ngIf="buttons && buttons.length > 1" class="ml-2">
        TODO
      </span>
    </div>
  </div>

  <ng-container *ngIf="viewOption.name == 'list' && !list[0]?.itemConfig">
    <div class="items-holder">
      <ng-container *ngFor="let item of filteredList">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="viewOption.name == 'list' && list[0]?.itemConfig">
    <div class="items-holder">
      <ng-container *ngFor="let item of filteredList">
        <app-generic-item [header]="item.itemConfig.header" [body]="item.itemConfig.body"
          [buttons]="item.itemConfig.buttons || []" [number]="item.itemConfig.number" [grade]="item.itemConfig.grade"
          [htmlHeader]="item.itemConfig.htmlHeader" [htmlBody]="item.itemConfig.htmlBody">
        </app-generic-item>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="viewOption.name == 'table' && !table">
    <table class="dataTable no-footer mb-5">
      <thead>
        <tr>
          <th *ngFor="let cell of filteredList[0].tableConfig">
            <span [translate]="cell[0]"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredList; let n = index" [ngClass]="{'even': n % 2 == 0, 'odd': n%2 == 1}">
          <td *ngFor="let cell of item.tableConfig">{{cell[1]}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

</div>