<div>
  <!-- 
  ['ConsultedStudents.Notes.Create', '/consultedStudents/list/notes/(modal:add)', 'fas fa-plus']
  
          ['Επεξεργασία', '/consultedStudents/list/notes/(modal:' + item.id + '/edit)'],
          ['Διαγραφή', '/consultedStudents/list/notes/(modal:' + item.id + '/delete)'],
  -->
  <app-generic-list [list]="list" [buttons]="[
    ]" [sortingModes]="[
      ['ConsultedStudents.Notes.Sort.DateCreatedAsc', 'dateCreated asc'],
      ['ConsultedStudents.Notes.Sort.DateCreatedDesc', 'dateCreated desc'],
      ['ConsultedStudents.Notes.Sort.DateModified', 'dateModified desc'],
      ['ConsultedStudents.Notes.Sort.PendingDateAsc', 'pending desc, pendingDate asc'],
      ['ConsultedStudents.Notes.Sort.PendingDateDesc', 'pending desc, pendingDate desc'],
    ]">
    <ng-template let-item>

      <app-generic-item [header]="[
          ['ConsultedStudents.Notes.student', item.studentRepr, 'fa fa-user' ],
        ]" [body]="[
          ['ConsultedStudents.Notes.dateCreated', item.dateCreated.toLocaleDateString(), 'fa fa-calendar'],
          ['ConsultedStudents.Notes.pending', !item.pending ? null : item.pendingDate ? item.pendingDate.toLocaleDateString() : '', 'fa fa-hourglass'],
        ]" [htmlHeader]="item.body" [buttons]="[
          null,
        ]">
      </app-generic-item>

    </ng-template>
  </app-generic-list>
</div>
<router-modal></router-modal>