.number {
    float: right;
    font-size: 2em;
}

.number {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.76px;
    text-align: right;
    white-space: nowrap !important;
    margin-left: .25em;

    &.positive {
        color: #19D65B;
    }

    &.negative {
        color: #A4B7C1;
    }
}

.expander {
    position: absolute;
    bottom: .25em;
    right: 0;
    left: 0;
    text-align: center;
    opacity: .5;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.dot-join:not(:last-child):after {
    content: '•';
    opacity: .5;
    padding: 0 .4em;
}

.generic-item:not(.expanded) .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.name> :first-child {
    // font-weight: lighter;
}

.inline-button {
    cursor: pointer;
}